html{
	background-color:azure;	
}
body{
		text-align:center;
}
.box1{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-color:silver;
	border-radius:35px;
	padding-left:20px;
	padding-right:20px;
	background: rgb(137,190,178);
	border-color:gold;
	color:gold;
	font-family:"Times of New Roman",serif
	font:normal 50px;
	text-decoration: none;
	text-transform: uppercase; 
	}
.box2,.box3,.box4,.box5,.information
{
	width:960px;
	margin-top:20px ;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-color:gold;
	border-radius:35px;
	padding-left:20px;
	padding-right:20px;
	background: rgb(137,190,178);
	font-family:"Times of New Roman",serif
	font-size: 50px
	text-decoration: none;
	text-transform: uppercase;
	border-sizing:border-box;
}
button:active{
	background-color:silver;
}
button:hover{
	background-color: gold;
}
button:visited{
	color: rgb(137,190,178);
}
a {
	color: #555555
	text-decoration:none;
}
a:hover {
	color: gold
}
a:visited {
	color: black
	text-decoration:none;
}
.table{
	font-size: 20px;
}
div.box-end{
	clear: both;
}
