html{
	background-color:#000000;
}
body{
		text-align:center;
}
.img-wrap{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.box1{
	width:960px;
	margin-top:20px ;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-color:silver;
	border-radius:35px;
	padding-left:20px;
	padding-right:20px;
	background: rgb(137,190,178);
	border-color:gold;
	color:gold;
	font-family:"Times of New Roman",serif
	font:normal 50px;
	text-decoration: none;
	text-transform: uppercase; 
	}
.box2{width:960px;
	margin-top:20px ;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-color:gold;
	border-radius:35px;
	padding-left:20px;
	padding-right:20px;
	background: rgb(137,190,178);
	font-family:"Times of New Roman",serif
	font:normal 16px;
	font-size: 50px
	text-decoration: none;
	text-transform: uppercase;
}
.box3{
	width:960px;
	margin-top:20px ;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-radius:35px;
	border-color:gold;
	padding-left:20px;
	padding-right:20px;
	background: rgb(137,190,178);
	font-family:"Times of New Roman",serif
	font:normal 16px;
	font-size: 50px
	text-decoration: none;
	text-transform: uppercase;
}
.box4{
	width:960px;
	margin-top:20px ;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-radius:35px;
	border-color:gold;
	padding-left:20px;
	padding-right:20px;
	background: rgb(137,190,178);
	color:gold;
	font-family:"Times of New Roman",serif
	font:normal 16px;
	font-size: 50px
	text-decoration: none;
	text-transform: uppercase;
	float:middle;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.box5{
	width:960px;
	margin-top:20px ;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-color:gold;
	border-radius:35px;
	padding-left:20px;
	padding-right:20px;
	background: rgb(137,190,178);
	color:gold;
	font-family:"Times of New Roman",serif
	font:normal 16px;
	font-size: 50px
	text-decoration: none;
	text-transform: uppercase;
}
button:active{
	background-color:#fff;
}
button:hover{
	background-color: gold;
}
button:visited{
	color: rgb(137,190,178);
}
a {
	color: #555555
	text-decoration:none;
}
a:hover {
	color: gold
}
a:visited {
	color: black
	text-decoration:none;
}
.table{
	font-size: 20px;
	align: center;
	margin: auto;
}
div.box-end{
	clear: both;
}
